<h1>Creator: <%= @event.creator %></h1><br>
<h2><%= @event.description %></h2><br>
<% if @event.creator_id != current_user.id %>
	<%= form_for(current_user.attendances.build) do |f| %>
	<%= hidden_field_tag :attended_event_id, @event.id %>
	<%= f.submit 'Attend Event' %>
	<% end %>
<% else %>
	<h3>You are the creator of this event</h3>
<% end %>